Shubham (mohitbit22@gmail.com) SmartBridge Internship/flows.json
[{"id":"f7d25192.76129","type":"tab","label":"Auto AI ","disabled":false,"info":""},{"id":"e5f3c29e.3eeb8","type":"inject","z":"f7d25192.76129","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":260,"wires":[["7eff1fc9.a7ce2"]]},{"id":"7eff1fc9.a7ce2","type":"function","z":"f7d25192.76129","name":"pre token","func":"global.set(\"c\",msg.payload.c)\nglobal.set(\"y\",msg.payload.ye)\nglobal.set(\"stat\",msg.payload.stat)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"u5\",msg.payload.u5)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"t119\",msg.payload.t119)\nglobal.set(\"t59\",msg.payload.t59)\nglobal.set(\"icof\",msg.payload.icof)\nglobal.set(\"s\",msg.payload.s)\nvar apikey = \"0KWp6RK3U_JhXqofOv2ILTHfrkevd1NiJ6gC-Ad8sqUd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["bc8b6f7c.1a821"]]},{"id":"bc8b6f7c.1a821","type":"http request","z":"f7d25192.76129","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":460,"wires":[["2cac75de.841c7a","1028d101.0ede9f"]]},{"id":"2cac75de.841c7a","type":"debug","z":"f7d25192.76129","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":540,"wires":[]},{"id":"1028d101.0ede9f","type":"function","z":"f7d25192.76129","name":"Pre Prediction","func":"var c = global.get('c')\nvar ye = global.get('ye')\nvar stat = global.get('stat')\nvar am = global.get('am')\nvar id = global.get('id')\nvar a = global.get('a')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar m = global.get('m')\nvar bmi = global.get('bmi')\nvar u5 = global.get('u5')\nvar pol = global.get('pol')\nvar te = global.get('te')\nvar d = global.get('d')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar t119 = global.get('t119')\nvar t59 = global.get('t59')\nvar icor = global.get('icor')\nvar s = global.get('s')\nvar token=msg.payload.access_token\nvar instance_id=\"53b8deba-90ed-4390-af2b-8b8002442657\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[c, ye, stat, am, id, a, pe, hb, m, bmi, u5, pol, te, d, hiv, gdp, pop, t119, t59, icor, s]]}]}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["fc272181.4b0f1"]]},{"id":"fc272181.4b0f1","type":"http request","z":"f7d25192.76129","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/ce04687f-1288-44d6-9c8a-06e0d1539ce1/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":380,"wires":[["c8a49449.8d8148","ae937830.65d788"]]},{"id":"c8a49449.8d8148","type":"debug","z":"f7d25192.76129","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":480,"wires":[]},{"id":"2521da24.1fc956","type":"debug","z":"f7d25192.76129","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":200,"wires":[]},{"id":"ae937830.65d788","type":"function","z":"f7d25192.76129","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0]\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":300,"wires":[["2521da24.1fc956","93b8ccfc.e82fe"]]},{"id":"7f9ff6db.fd39f8","type":"ui_form","z":"f7d25192.76129","name":"","label":"","group":"9f8e7d13.1b081","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"c","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status (developed/developing)","value":"stat","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"a","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"m","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-five Deaths","value":"u5","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"d","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"t119","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"t59","type":"number","required":true,"rows":null},{"label":"Income Composition Of Resources","value":"icor","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"c":"","ye":"","stat":"","am":"","id":"","a":"","pe":"","hb":"","m":"","bmi":"","u5":"","pol":"","te":"","d":"","hiv":"","gdp":"","pop":"","t119":"","t59":"","icor":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":340,"wires":[["7eff1fc9.a7ce2"]]},{"id":"93b8ccfc.e82fe","type":"ui_text","z":"f7d25192.76129","group":"9f8e7d13.1b081","order":1,"width":0,"height":0,"name":"","label":"Prediction: ","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":400,"wires":[]},{"id":"9f8e7d13.1b081","type":"ui_group","z":"","name":"Form","tab":"2b50d568.b7008a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b50d568.b7008a","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]